version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: minhas-contas-db
    environment:
      POSTGRES_DB: minhascontas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
